apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-argocd-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/manusek/nginx-app-part3.git 
    targetRevision: main
    path: nginx-chart
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true  